mixin navigation()
  section.navigation
    .container
      h2.navigation__title Демонстрация страниц
      .navigation__list
        a.navigation__link(href="video-mask.html")
          span.navigation__text Видео Маска
          span.navigation__desc Оригинальная версия эффекта
        a.navigation__link(href="library-mask.html")
          span.navigation__text VideoMask Library
          span.navigation__desc Демонстрация библиотеки
